package main

import (
	"bufio"
	"embed"
	"fmt"
	"log"
	"os"
	"strconv"
	"strings"

	"github.com/davi4046/revoutil"
)

//go:embed revocomp.yaml
//go:embed {{.XSDFileName}}
var files embed.FS

func main() {
	if len(os.Args) == 2 {
		if os.Args[1] == "info" {
			data, _ := files.ReadFile("revocomp.yaml")
			fmt.Println(string(data))
			return
		} else if os.Args[1] == "xsd" {
			data, _ := files.ReadFile("{{.XSDFileName}}")
			fmt.Println(string(data))
			return
		}
	}
	if len(os.Args) == {{.NArgs}} {

		{{.Conversions}}

		modifier := newModifier({{.Args}})

		reader := bufio.NewReader(os.Stdin)

		for {
			input, err := reader.ReadString('\n')
			if err != nil {
				log.Fatalln(err)
			}
			input = strings.Trim(strings.TrimSpace(input), "{}")

			parts := strings.Split(input, " ")

			pitch, err := strconv.Atoi(parts[0])
			if err != nil {
				log.Fatalln(err)
			}

			duration, err := strconv.ParseFloat(parts[1], 64)
			if err != nil {
				log.Fatalln(err)
			}

			channel, err := strconv.Atoi(parts[2])
			if err != nil {
				log.Fatalln(err)
			}

			track, err := strconv.Atoi(parts[3])
			if err != nil {
				log.Fatalln(err)
			}

			fmt.Println(modifier.modify(
				revoutil.Note{
					Pitch:    pitch,
					Duration: duration,
					Channel:  channel,
					Track:    track,
				},
			))
		}
	}
}
